# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Misc
.DS_Store
